html,
body {
  background-color: #333;
  color: #fff;
  font-family: 'Dosis', sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.logo h1 {
  font-size: 24px;
  font-weight: 900;
  color: #ff00cc;
  text-shadow: 0px 0px 5px #de4cff;
}

.form {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1 1 auto;
}
.search-input {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 40px;
  background-color: #333;
  border-radius: 8px;
  width: 100%;
}
.search-input svg {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}
.search-input input {
  background-color: transparent;
  width: 100%;
  padding-left: 35px;
  align-self: stretch;
  color: #fff;
}
.search-button {
  background-color: #ff00cc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  padding: 10px 15px;
  min-height: 40px;
}

.feed {
  padding: 15px 0;
}

.feed__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* video card  */
.video {
  padding: 15px;
  border-radius: 12px;
  background-color: #222;
}
.video-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.video-wrapper video {
  max-width: 100%;
}
.video-music {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.video-music__title {
}
.video-title {
  font-size: 14px;
}

.video-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.video-author__image {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
}
.video-author__info {
}
.video-author__info p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 2px;
}
.video-author__info span {
  font-size: 14px;
}

.video-details {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 10px 5px;
  border-radius: 8px;
  gap: 15px;
  font-size: 14px;
  text-align: center;
}
.video-details__item {
}

.spinner {
  /* min-height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item {
  position: relative;
}
.video-icon-controls {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
}
.video-icon-controls svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.video-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.video-progress span {
  transition: width 0.3s ease;
  display: block;
  height: 2px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.search-feed__container {
  padding: 15px 0;
}
.infinite-scroll-component {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.infinite-scroll-component > div {
  flex: 1 0 calc(50% - 15px);
}

.video-title {
  padding-top: 15px;
}
.infinite-scroll-component__outerdiv {
  margin-bottom: 15px;
}
